body {
  background-color: rgb(37, 37, 37);
}
p {
  background: url("./screenshot.png");
  -webkit-background-clip: text;
  background-repeat: no-repeat;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  font: 0.6rem "Helvetica", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 800px) {
  p {
    font-size: 5px;
    background-size: contain;
  }
}
